* {
  box-sizing: border-box;
}

html {
  background-color: black;
  background: url('../images/blackout-alt.png') no-repeat fixed;
  background-size: 100% 100%;
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Mirza', cursive;
}

h1 {
  font-size: 64px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: white;
  text-shadow: 3px 3px 1px grey;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 75%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

img {
  width: 90%;
  display: block;
  padding-top: 20px;
  margin: 0 auto;
}

section {
  background-color: rgba(255,255,255,0.3);
  float: left;
  width: 70%;
  padding: 20px
}

nav {
  float: left;
  width: 30%;
}

nav a {
  outline: none;
  text-decoration: none;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:focus {
  color: #a86;
}

nav a:hover {
  color: #a96;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  font-size: 2rem;
  text-align: center;
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 20px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  padding: 0px 20px 10px 20px;
  background-color: rgba(255,255,255,0.5);
}